{% extends 'index.html' %}

{% block content %}
  <div class="container">
    {% if cart_products %}
      {% for products in cart_products %}
        <div class="container">
          <br />
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{ products.product_image.url }}" class="img-fluid rounded-start" alt="..." />
              </div>
              <div class="col-md-4">
                <div class="card-body">
                  <h5 class="card-title">{{ products.product_name }}</h5>
                  <p class="card-text">{{ products.product_description }}</p>
                  <br />
                  {% if products.product_sale_price is None %}
                    <span class="card-title">${{ products.product_price }}</span>
                  {% else %}
                    <span class="card-title text-muted text-decoration-line-through">${{ products.product_price }}</span>
                    (${{ products.product_sale_price }})
                  {% endif %}
                  <p class="card-text">
                    <big class="text-body-secondary"><span class="badge" style="background-color: #6f42c1; color: white;">{{ products.tag }}</span></big>
                  </p>

                  <div class="row">
                    <div class="col-md-3">Quantity:</div>
                    <div class="col-md-3">
                      <select class="form-select form-select-sm" id="select{{ products.id }}">
                        {% for key, value in quantities.items %}
                          {% if key == products.id|slugify %}
                            <option selected>{{ value }}</option>
                          {% endif %}
                        {% endfor %}
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                      </select>
                    </div>
                  </div>
                  <br />
                  <button class="btn btn-dark m-1" type="">Buy Now</button>
                  <button type="button" data-index="{{ products.id }}" class="btn btn-outline-dark update-cart">Update Cart</button>
                  <button type="button" data-index="{{ products.id }}" class="btn btn-danger ms-3 delete-product">Remove Item</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      <h3 class="m-2">Total:{{ totals }}</h3>
    {% else %}
      <h1>There is Nothing in your cart.</h1>
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    {% endif %}
  </div>
  <br /><br /><br /><br /><br /><br /><br /><br /><br />
  <script>
    //Update Cart
    $(document).on('click', '.update-cart', function (e) {
      e.preventDefault()
      var productid = $(this).data('index')
      $.ajax({
        type: 'POST',
        url: '{% url "cart-update" %}',
        data: {
          product_id: $(this).data('index'),
          product_qty: $('#select' + productid + ' option:selected').text(),
          csrfmiddlewaretoken: '{{ csrf_token }}',
          action: 'post'
        },
        success: function (json) {
          location.reload()
        },
        error: function (xhr, errmsg, err) {}
      })
    })
    
    //Remove Item From Cart
    $(document).on('click', '.delete-product', function (e) {
      e.preventDefault()
      $.ajax({
        type: 'POST',
        url: '{% url "cart-delete" %}',
        data: {
          product_id: $(this).data('index'),
          csrfmiddlewaretoken: '{{ csrf_token }}',
          action: 'post'
        },
        success: function (json) {
          location.reload()
        },
        error: function (xhr, errmsg, err) {}
      })
    })
  </script>
{% endblock %}
