{% extends 'index.html' %}
{% load static %}
{% block title %}
  Home
{% endblock %}
{% block links %}
  <style>
    .hero-swiper-slide {
      position: relative;
      width: 100%;
      height: 75vh;
      overflow: hidden;
    }
    
    .hero-banner-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  </style>
{% endblock %}

{% block content %}
  <section id="billboard" class="position-relative overflow-hidden bg-light-blue">
    <div class="swiper main-swiper">
      <div class="swiper-wrapper">
        {% if not banner_images %}
          <div class="swiper-slide">
            <div class="container">
              <div class="row d-flex align-items-center">
                <div class="col-md-6">
                  <div class="banner-content">
                    <h1 class="display-2 text-uppercase text-dark pb-5">Your Products Are Great.</h1>
                    <a href="{% url 'shop' %}" class="btn btn-medium btn-dark text-uppercase btn-rounded-none">Shop Product</a>
                  </div>
                </div>
                <div class="col-md-5">
                  <div>
                    <img src="{% static 'images/banner-image.png' %}" alt="banner" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="container">
              <div class="row d-flex flex-wrap align-items-center">
                <div class="col-md-6">
                  <div class="banner-content">
                    <h1 class="display-2 text-uppercase text-dark pb-5">Technology Hack You Won't Get</h1>
                    <a href="{% url 'shop' %}" class="btn btn-medium btn-dark text-uppercase btn-rounded-none">Shop Product</a>
                  </div>
                </div>
                <div class="col-md-5">
                  <div>
                    <img src="{% static 'images/banner-image.png' %}" alt="banner" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% else %}
          {% for banner_image in banner_images %}
            <div class="hero-swiper-slide swiper-slide">
              <a href="{% url 'shop' %}"><img src="{{ banner_image.image.url }}" alt="banner" class="hero-banner-image" /></a>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="swiper-icon swiper-arrow swiper-arrow-prev">
      <svg class="chevron-left">
        <use xlink:href="#chevron-left" />
      </svg>
    </div>
    <div class="swiper-icon swiper-arrow swiper-arrow-next">
      <svg class="chevron-right">
        <use xlink:href="#chevron-right" />
      </svg>
    </div>
  </section>
  <section id="company-services" class="padding-large">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 pb-3">
          <div class="icon-box d-flex">
            <div class="icon-box-icon pe-3 pb-3">
              <svg class="cart-outline">
                <use xlink:href="#cart-outline" />
              </svg>
            </div>
            <div class="icon-box-content">
              <h3 class="card-title text-uppercase text-dark">Fast delivery</h3>
              <p>Get your orders delivered swiftly and directly to your doorstep. We guarantee fast shipping, so you never have to wait long for your favorite products.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 pb-3">
          <div class="icon-box d-flex">
            <div class="icon-box-icon pe-3 pb-3">
              <svg class="quality">
                <use xlink:href="#quality" />
              </svg>
            </div>
            <div class="icon-box-content">
              <h3 class="card-title text-uppercase text-dark">Quality guarantee</h3>
              <p>We take pride in offering only the highest quality products. Each item is carefully selected and rigorously tested to ensure it meets our standards.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 pb-3">
          <div class="icon-box d-flex">
            <div class="icon-box-icon pe-3 pb-3">
              <svg class="price-tag">
                <use xlink:href="#price-tag" />
              </svg>
            </div>
            <div class="icon-box-content">
              <h3 class="card-title text-uppercase text-dark">Daily offers</h3>
              <p>Stay tuned for exclusive daily discounts. We offer unbeatable deals on your favorite products, ensuring you always get the best value.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 pb-3">
          <div class="icon-box d-flex">
            <div class="icon-box-icon pe-3 pb-3">
              <svg class="shield-plus">
                <use xlink:href="#shield-plus" />
              </svg>
            </div>
            <div class="icon-box-content">
              <h3 class="card-title text-uppercase text-dark">100% secure payment</h3>
              <p>Shop with peace of mind. We use the latest security measures to protect your payment information, ensuring a safe and smooth transaction every time.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="mobile-products" class="product-store position-relative padding-large no-padding-top">
    <div class="container">
      <div class="row">
        <div class="display-header d-flex justify-content-between pb-3">
          <h2 class="display-7 text-dark text-uppercase">Mobile Products</h2>
          <div class="btn-right">
            <a href="{% url 'category' 'phones' %}" class="btn btn-medium btn-normal text-uppercase">Buy Mobile Products</a>
          </div>
        </div>
        <div class="swiper product-swiper">
          <div class="swiper-wrapper">
            {% for product in products %}
              {% if product.product_category.category_name == 'phones' %}
                <div class="swiper-slide">
                  <div class="product-card d-flex flex-column h-100">
                    <div class="image-holder position-relative flex-grow-1">
                      <a href="{% url 'product' product.slug %}"><img src="{{ product.product_image.url }}" alt="{{ product.product_name }}" class="img-fluid w-100 h-100 object-fit-cover" /></a>
                    </div>
                    <div class="card-detail d-flex justify-content-between align-items-center mt-3">
                      <h3 class="card-title text-uppercase mb-0"><a href="{% url 'product' product.slug %}">{{ product.product_name }}</a></h3>
                      {% if product.product_sale_price is None %}
                        <span class="item-price text-primary">Rs.{{ product.product_price }}</span>
                      {% else %}
                        <span class="item-price text-primary">Rs.{{ product.product_sale_price }}</span>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination position-absolute text-center"></div>
  </section>
  <section id="smart-watches" class="product-store padding-large position-relative">
    <div class="container">
      <div class="row">
        <div class="display-header d-flex justify-content-between pb-3">
          <h2 class="display-7 text-dark text-uppercase">Smart Watches</h2>
          <div class="btn-right">
            <a href="{% url 'category' 'smart-watches' %}" class="btn btn-medium btn-normal text-uppercase">Buy Smart Watches</a>
          </div>
        </div>
        <div class="swiper product-watch-swiper">
          <div class="swiper-wrapper">
            {% for product in products %}
              {% if product.product_category.category_name == 'Smart Watches' %}
                <div class="swiper-slide">
                  <div class="product-card d-flex flex-column h-100">
                    <div class="image-holder position-relative flex-grow-1">
                      <a href="{% url 'product' product.slug %}"><img src="{{ product.product_image.url }}" alt="{{ product.product_name }}" class="img-fluid w-100 h-100 object-fit-cover" /></a>
                    </div>
                    <div class="card-detail d-flex justify-content-between align-items-center mt-3">
                      <h3 class="card-title text-uppercase mb-0"><a href="{% url 'product' product.slug %}">{{ product.product_name }}</a></h3>
                      {% if product.product_sale_price is None %}
                        <span class="item-price text-primary">Rs.{{ product.product_price }}</span>
                      {% else %}
                        <span class="item-price text-primary">Rs.{{ product.product_sale_price }}</span>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination position-absolute text-center"></div>
  </section>
  <section id="yearly-sale" class="bg-light-blue overflow-hidden mt-5 padding-xlarge" style="
    background-image: url({% static 'images/single-image1.png' %});
    background-position: right;
    background-repeat: no-repeat;
  ">
    <div class="row d-flex flex-wrap align-items-center">
      <div class="col-md-6 col-sm-12">
        <div class="text-content offset-4 padding-medium">
          <h3>Upto {{ discount_upto }}% off</h3>
          <h2 class="display-2 pb-5 text-uppercase text-dark">New year sale</h2>
          <a href="{% url 'tags' 'sale' %}" class="btn btn-medium btn-dark text-uppercase btn-rounded-none">Shop Sale</a>
        </div>
      </div>
      <div class="col-md-6 col-sm-12"></div>
    </div>
  </section>
  <section id="latest-blog" class="padding-large">
    <div class="container">
      <div class="row">
        <div class="display-header d-flex justify-content-between pb-3">
          <h2 class="display-7 text-dark text-uppercase">Latest Posts</h2>
          <div class="btn-right">
            <a href="{% url 'blog' %}" class="btn btn-medium btn-normal text-uppercase">Read Blog</a>
          </div>
        </div>
        <div class="post-grid d-flex flex-wrap justify-content-between">
          {% for post in posts %}
            <div class="col-lg-4 col-sm-12">
              <div class="card border-none me-3">
                <div class="card-image">
                  <a href="{% url 'single-blog' post.slug %}"><img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid" /></a>
                </div>
              </div>
              <div class="card-body text-uppercase">
                <div class="card-meta text-muted">
                  <span class="meta-date">{{ post.created_at|date:'b d, Y' }}</span>
                  <span class="meta-category">- {{ post.category }}</span>
                </div>
                <h3 class="card-title"><a href="{% url 'single-blog' post.slug %}">{{ post.title }}</a></h3>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <section id="testimonials" class="position-relative">
    <div class="container">
      <div class="row">
        <div class="review-content position-relative">
          <div class="swiper-icon swiper-arrow swiper-arrow-prev position-absolute d-flex align-items-center">
            <svg class="chevron-left">
              <use xlink:href="#chevron-left" />
            </svg>
          </div>
          <div class="swiper testimonial-swiper">
            <div class="quotation text-center">
              <svg class="quote">
                <use xlink:href="#quote" />
              </svg>
            </div>
            <div class="swiper-wrapper">
              <div class="swiper-slide text-center d-flex justify-content-center">
                <div class="review-item col-md-10">
                  <i class="icon icon-review"></i>
                  <blockquote>“Tempus oncu enim pellen tesque este pretium in neque, elit morbi sagittis lorem habi mattis Pellen tesque pretium feugiat vel morbi suspen dise sagittis lorem habi tasse morbi.”</blockquote>
                  <div class="rating">
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-half">
                      <use xlink:href="#star-half"></use>
                    </svg>
                    <svg class="star star-empty">
                      <use xlink:href="#star-empty"></use>
                    </svg>
                  </div>
                  <div class="author-detail">
                    <div class="name text-dark text-uppercase pt-2">Emma Chamberlin</div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide text-center d-flex justify-content-center">
                <div class="review-item col-md-10">
                  <i class="icon icon-review"></i>
                  <blockquote>“A blog is a digital publication that can complement a website or exist independently. A blog may include articles, short posts, listicles, infographics, videos, and other digital content.”</blockquote>
                  <div class="rating">
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-half">
                      <use xlink:href="#star-half"></use>
                    </svg>
                    <svg class="star star-empty">
                      <use xlink:href="#star-empty"></use>
                    </svg>
                  </div>
                  <div class="author-detail">
                    <div class="name text-dark text-uppercase pt-2">Jennie Rose</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-icon swiper-arrow swiper-arrow-next position-absolute d-flex align-items-center">
            <svg class="chevron-right">
              <use xlink:href="#chevron-right" />
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </section>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const swiper = new Swiper('.main-swiper', {
        loop: true,
        autoplay: {
          delay: 5000,
          disableOnInteraction: false
        },
        navigation: {
          nextEl: '.swiper-arrow-next',
          prevEl: '.swiper-arrow-prev'
        }
      })
    })
  </script>
{% endblock %}
