{% extends 'index.html' %}

{% block title %}
  Buy {{ products.product_name }}
{% endblock %}

{% block content %}
  <section id="selling-product" class="single-product padding-xlarge">
    <div class="container">
      <div class="row mt-5">
        <div class="col-lg-6">
          <div class="product-preview mb-3">
            <img src="{{ products.product_image.url }}" alt="single-product" class="img-fluid" />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="product-info">
            <div class="element-header">
              <h3 itemprop="name" class="display-7 text-uppercase">{{ products.product_name }}</h3>
              <div class="rating-container d-flex align-items-center">
                <div class="rating" data-rating="1">
                  <svg class="star star-fill">
                    <use xlink:href="#star-fill"></use>
                  </svg>
                  <span class="rating-count ps-2">{{ products.product_rating }}</span>
                </div>
              </div>
            </div>
            <div class="product-price pt-3 pb-3">
              {% if products.product_sale_price is None %}
                <span class="card-title text-primary display-6 fw-bold">Rs. {{ products.product_price }}</span>
              {% else %}
                <span class="card-title display-6 fw-bold text-muted text-decoration-line-through">Rs. {{ products.product_price }}</span>
                <span class="card-title text-primary display-6 fw-bold">Rs. {{ products.product_sale_price }}</span>
              {% endif %}
            </div>
            <p>{{ products.product_description }}</p>
            {% if products.product_tag.all %}
              <ul class="list-inline">
                {% for tag in products.product_tag.all %}
                  <li class="list-inline-item">
                    <span class="badge rounded-pill px-3 py-2 
                        {% cycle 'bg-primary' 'bg-secondary' 'bg-success' 'bg-danger' 'bg-warning text-dark' 'bg-info' 'bg-dark text-light' %}">{{ tag.tag }}</span>
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              <p>No tags available.</p>
            {% endif %}
            <div class="cart-wrap padding-small">
              <div class="color-options product-select">
                <div class="color-toggle" data-option-index="0">
                  <h4 class="item-title text-uppercase text-dark text-decoration-underline">Color:</h4>
                  <ul class="select-list list-unstyled d-flex">
                    <li class="select-item pe-3" data-val="Green" title="Green">
                      <a href="#">Green</a>
                    </li>
                    <li class="select-item pe-3" data-val="Orange" title="Orange">
                      <a href="#">Orange</a>
                    </li>
                    <li class="select-item pe-3" data-val="Red" title="Red">
                      <a href="#">Red</a>
                    </li>
                    <li class="select-item" data-val="Black" title="Black">
                      <a href="#">Black</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="swatch product-select" data-option-index="1">
                <h4 class="item-title text-uppercase text-dark text-decoration-underline">Size:</h4>
                <ul class="select-list list-unstyled d-flex">
                  <li data-value="S" class="select-item pe-3">
                    <a href="#">XL</a>
                  </li>
                  <li data-value="M" class="select-item pe-3">
                    <a href="#">L</a>
                  </li>
                  <li data-value="L" class="select-item pe-3">
                    <a href="#">M</a>
                  </li>
                  <li data-value="L" class="select-item">
                    <a href="#">S</a>
                  </li>
                </ul>
              </div>
              <div class="product-quantity">
                <div class="stock-number text-dark">2 in stock</div>
                <div class="stock-button-wrap pt-3">
                  <div class="card-body">
                    {% comment %} <span class="input-group-btn"><button type="button" class="quantity-left-minus btn btn-number" data-type="minus" data-field="">-</button></span>
                    <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="100" />
                    <span class="input-group-btn"><button type="button" class="quantity-right-plus btn btn-number" data-type="plus" data-field="">+</button></span> {% endcomment %}
                    <div class="row">
                      <div class="col-md-3">Quantity:</div>
                      <div class="col-md-3">
                        <select class="form-select form-select-sm" id="qty-cart">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                        </select>
                      </div>
                    </div>
                    {% comment %} <br /><br />
                    <button class="btn btn-dark m-1" type="">Buy Now</button> {% endcomment %}
                  </div>
                  <div class="qty-button d-flex flex-wrap pt-3">
                    {% comment %} <button type="submit" class="btn btn-primary btn-medium text-uppercase me-3 mt-3">Buy now</button> {% endcomment %}
                    <button name="add-to-cart" value="{{ products.id }}" id="addCart" type="button" class="btn btn-black btn-medium text-uppercase mt-3">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="meta-product py-2">
              <div class="meta-item d-flex align-items-baseline">
                <h4 class="item-title no-margin pe-2">SKU:</h4>
                <ul class="select-list list-unstyled d-flex">
                  <li data-value="S" class="select-item">1223</li>
                </ul>
              </div>
              <div class="meta-item d-flex align-items-baseline">
                <h4 class="item-title no-margin pe-2">Category:</h4>
                <ul class="select-list list-unstyled d-flex">
                  <li data-value="S" class="select-item">
                    <a href="#">{{ products.product_category }}</a>,
                  </li>
                </ul>
              </div>
              <div class="meta-item d-flex align-items-baseline">
                <h4 class="item-title no-margin pe-2">Tags:</h4>
                <ul class="select-list list-unstyled d-flex">
                  <li data-value="S" class="select-item">
                    <a href="#">Classic</a>,
                  </li>
                  <li data-value="S" class="select-item">
                    <a href="#">Modern</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="product-info-tabs">
    <div class="container">
      <div class="row">
        <div class="tabs-listing">
          <nav>
            <div class="nav nav-tabs d-flex flex-wrap justify-content-center" id="nav-tab" role="tablist">
              <button class="nav-link active text-uppercase pe-5" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Description</button>
              <button class="nav-link text-uppercase pe-5" id="nav-information-tab" data-bs-toggle="tab" data-bs-target="#nav-information" type="button" role="tab" aria-controls="nav-information" aria-selected="false">Additional information</button>
              <button class="nav-link text-uppercase pe-5" id="nav-review-tab" data-bs-toggle="tab" data-bs-target="#nav-review" type="button" role="tab" aria-controls="nav-review" aria-selected="false">Reviews</button>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active border-top border-bottom padding-small" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              <p>Product Description</p>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus.</p>
              <ul style="list-style-type:disc;" class="list-unstyled ps-4">
                <li>Donec nec justo eget felis facilisis fermentum.</li>
                <li>Suspendisse urna viverra non, semper suscipit pede.</li>
                <li>Aliquam porttitor mauris sit amet orci.</li>
              </ul>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus.</p>
            </div>
            <div class="tab-pane fade border-top border-bottom padding-small" id="nav-information" role="tabpanel" aria-labelledby="nav-information-tab">
              <p>It is Comfortable and Best</p>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="tab-pane fade border-top border-bottom padding-small" id="nav-review" role="tabpanel" aria-labelledby="nav-review-tab">
              <div class="review-box d-flex flex-wrap">
                <div class="col-lg-6 d-flex flex-wrap">
                  <div class="col-md-2">
                    <div class="image-holder">
                      <img src="images/review-item1.jpg" alt="review" class="img-fluid" />
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="review-content">
                      <div class="rating-container d-flex align-items-center">
                        <div class="rating" data-rating="1" onclick="rate(1)">
                          <i class="icon icon-star"></i>
                        </div>
                        <div class="rating" data-rating="2" onclick="rate(1)">
                          <i class="icon icon-star"></i>
                        </div>
                        <div class="rating" data-rating="3" onclick="rate(1)">
                          <i class="icon icon-star"></i>
                        </div>
                        <div class="rating" data-rating="4" onclick="rate(1)">
                          <i class="icon icon-star-half"></i>
                        </div>
                        <div class="rating" data-rating="5" onclick="rate(1)">
                          <i class="icon icon-star-empty"></i>
                        </div>
                        <span class="rating-count">(3.5)</span>
                      </div>
                      <div class="review-header">
                        <span class="author-name">Tina Johnson</span>
                        <span class="review-date">– 03/07/2023</span>
                      </div>
                      <p>Vitae tortor condimentum lacinia quis vel eros donec ac. Nam at lectus urna duis convallis convallis</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 d-flex flex-wrap">
                  <div class="col-md-2">
                    <div class="image-holder">
                      <img src="images/review-item2.jpg" alt="review" class="img-fluid" />
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="review-content">
                      <div class="rating-container d-flex align-items-center">
                        <div class="rating" data-rating="1" onclick="rate(1)">
                          <i class="icon icon-star"></i>
                        </div>
                        <div class="rating" data-rating="2" onclick="rate(1)">
                          <i class="icon icon-star"></i>
                        </div>
                        <div class="rating" data-rating="3" onclick="rate(1)">
                          <i class="icon icon-star"></i>
                        </div>
                        <div class="rating" data-rating="4" onclick="rate(1)">
                          <i class="icon icon-star-half"></i>
                        </div>
                        <div class="rating" data-rating="5" onclick="rate(1)">
                          <i class="icon icon-star-empty"></i>
                        </div>
                        <span class="rating-count">(3.5)</span>
                      </div>
                      <div class="review-header">
                        <span class="author-name">Jenny Willis</span>
                        <span class="review-date">– 03/06/2022</span>
                      </div>
                      <p>Vitae tortor condimentum lacinia quis vel eros donec ac. Nam at lectus urna duis convallis convallis</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="related-products" class="product-store position-relative padding-large">
    <div class="container">
      <div class="row">
        <div class="display-header d-flex justify-content-between pb-3">
          <h2 class="display-7 text-dark text-uppercase">Related Products</h2>
          <div class="btn-right">
            <a href="shop.html" class="btn btn-medium btn-normal text-uppercase">Go to Shop</a>
          </div>
        </div>
        <div class="swiper product-swiper">
          <div class="swiper-wrapper">
            {% for product in all_products %}
              {% if product.product_category == products.product_category %}
                {% if product != products %}
                  <div class="swiper-slide">
                    <div class="product-card position-relative">
                      <div class="image-holder">
                        <img src="{{ product.product_image.url }}" alt="product-item" class="img-fluid" />
                      </div>
                      <div class="cart-concern position-absolute">
                        <div class="cart-button d-flex">
                          <div class="btn-left">
                            <a href="{% url 'product' product.slug %}" class="btn btn-medium btn-black">View Product</a>
                          </div>
                        </div>
                      </div>
                      <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                        <h3 class="card-title text-uppercase"><a href="#">{{ product.product_name }}</a></h3>
                        <span class="item-price text-primary">$980</span>
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination position-absolute text-center"></div>
  </section>
  {% comment %} <section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="row gx-4 gx-lg-5 align-items-center">
        <div class="col-md-6">
          <img class="card-img-top mb-5 mb-md-0" src="{{ products.product_image.url }}" alt="{{ products.product_image.url }}" />
        </div>
        <div class="col-md-6">
          <h1 class="display-5 fw-bolder">{{ products.product_name }}</h1>
          <div class="fs-5 mb-5">
            {% if products.product_sale_price is None %}
              <span class="card-title">Rs. {{ products.product_price }}</span>
            {% else %}
              <span class="card-title text-muted text-decoration-line-through">Rs. {{ products.product_price }}</span>
              (Rs. {{ products.product_sale_price }})
            {% endif %}
          </div>
          <p class="lead">{{ products.product_description }}</p>
          <div class="card-body">
            <br /><br />
            <div class="row">
              <div class="col-md-3">Quantity:</div>
              <div class="col-md-3">
                <select class="form-select form-select-sm" id="qty-cart">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
            </div>
            <br /><br />
            <button class="btn btn-dark m-1" type="">Buy Now</button>
            <button class="btn btn-outline-dark m-1" value="{{ products.id }}" id="addCart" type="button">
              <i class="bi-cart-fill me-1"></i>
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
      <h2 class="fw-bolder mb-4">Related products</h2>
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"></div>
    </div>
  </section> {% endcomment %}
  <script>
    $(document).on('click', '#addCart', function (e) {
      e.preventDefault()
      $.ajax({
        type: 'POST',
        url: '{% url "cart-add" %}',
        data: {
          product_id: $('#addCart').val(),
          product_qty: $('#qty-cart option:selected').text(),
          csrfmiddlewaretoken: '{{ csrf_token }}',
          action: 'post'
        },
        success: function (json) {
          console.log(json)
          document.getElementById('cart_quantity').textContent = json.qty
          location.reload()
        },
        error: function (xhr, errmsg, err) {}
      })
    })
  </script>
{% endblock %}
