{% extends 'index.html' %}

{% block title %}
  Buy {{ products.product_name }}
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-center">
    <h1 class="text-center">{{ products.product_category }}</h1>
  </div>

  <div class="container">
    <br />
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{ products.product_image.url }}" class="img-fluid rounded-start" alt="..." />
        </div>
        <div class="col-md-4">
          <div class="card-body">
            <h5 class="card-title">{{ products.product_name }}</h5>

            {% if products.product_sale_price is None %}
              <span class="card-title">${{ products.product_price }}</span>
            {% else %}
              <span class="card-title text-muted text-decoration-line-through">${{ products.product_price }}</span>
              (${{ products.product_sale_price }})
            {% endif %}
            <p class="card-text">{{ products.product_description }}</p>
            <p class="card-text">
              <big class="text-body-secondary"><span class="badge" style="background-color: #6f42c1; color: white;">{{ products.tag }}</span></big>
            </p>
            <br /><br />
            <div class="row">
              <div class="col-md-3">Quantity:</div>
              <div class="col-md-3">
                <select class="form-select form-select-sm" id="qty-cart">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
            </div>
            <br /><br />
            <button class="btn btn-dark m-1" type="">Buy Now</button>
            <button class="btn btn-outline-dark m-1" value="{{ products.id }}" id="addCart" type="button">
              <i class="bi-cart-fill me-1"></i>
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br /><br /><br /><br /><br /><br /><br /><br /><br />
  <script>
    $(document).on('click', '#addCart', function (e) {
      e.preventDefault()
      $.ajax({
        type: 'POST',
        url: '{% url "cart-add" %}',
        data: {
          product_id: $('#addCart').val(),
          product_qty: $('#qty-cart option:selected').text(),
          csrfmiddlewaretoken: '{{ csrf_token }}',
          action: 'post'
        },
        success: function (json) {
          //console.log(json);
          document.getElementById('cart_quantity').textContent = json.qty
          location.reload()
        },
        error: function (xhr, errmsg, err) {}
      })
    })
  </script>
{% endblock %}
