{% extends 'index.html' %}

{% block title %}
  Update Info
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <center>
        <div class="col-8">
          <br /><br />
          <strong>Billing Information</strong>
          <br /><br />
          <form method="POST" action="{% url 'update-info' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <br /><br />
            <strong>Shipping Information</strong>
            <br /><br />
            {{ shipping_form.as_p }}
            <br /><br />
            <button type="submit" class="btn btn-primary">Update Profile</button>
          </form>
          <br />
          or
          <br />
          <a href="{% url 'home' %}"><button type="submit" class="btn btn-success">Maybe Later</button></a>
        </div>
      </center>
    </div>
  </div>
  <br /><br /><br /><br /><br /><br /><br /><br /><br />
{% endblock %}
