asgiref==3.8.1
boto3==1.35.50
botocore==1.35.50
certifi==2024.8.30
charset-normalizer==3.4.0
cloudinary==1.41.0
Django==4.2.12
django-paypal==2.1
django-storages==1.14.4
django-widget-tweaks==1.5.0
idna==3.10
jmespath==1.0.1
pillow==10.4.0
psycopg2==2.9.10
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
requests==2.32.3
s3transfer==0.10.3
six==1.16.0
sqlparse==0.5.1
tzdata==2024.2
urllib3==2.2.3
whitenoise==6.8.1
django-markdownify ==  0.8.0
