{% extends 'index.html' %}
{% load static %}
{% block title %}
  {{ category.name }}
{% endblock %}

{% block content %}
  <section class="hero-section position-relative bg-light-blue padding-medium">
    <div class="hero-content">
      <div class="container">
        <div class="row">
          <div class="text-center padding-large no-padding-bottom">
            <h1 class="display-2 text-uppercase text-dark">{{ category.name }}</h1>
            <div class="breadcrumbs">
              <span class="item"><a href="/">Home ></a></span>
              <span class="item">Category ></span>
              <span class="item">{{ category.name }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="post-grid padding-large">
    <div class="container">
      <div class="row d-flex flex-wrap">
        <aside class="col-md-3">
          <div class="sidebar">
            <div class="widget-search-bar">
              <form role="search" method="get" method="get" class="d-flex" action="{% url 'blog-search' %}">
                <input class="search-field" placeholder="Search" type="search" value="" name="s" id="search-form" />
                <button type="submit" class="search-submit search-icon bg-dark">
                  <svg class="search text-light">
                    <use xlink:href="#search"></use>
                  </svg>
                </button>
              </form>
            </div>
            <div class="sidebar-filter pt-5">
              <div class="widget sidebar-product-categories mb-5">
                <h5 class="widget-title text-uppercase">Categories</h5>
                <ul class="product-categories sidebar-list list-unstyled">
                  <li class="cat-item">
                    <a href="{% url 'blog' %}">All</a>
                  </li>
                  {% for cat in all_categories %}
                    <li class="cat-item">
                      <a href="{% url 'blog-category' cat.slug %}">{{ cat.name }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>

              <div class="widget sidebar-product-tags mb-5">
                <h5 class="widget-title text-uppercase">Tags</h5>
                <ul class="product-tags sidebar-list list-unstyled">
                  <li class="cat-item">
                    <a href="{% url 'blog' %}">All</a>
                  </li>
                  {% for tag in tags %}
                    <li class="tags-item">
                      <a href="{% url 'blog-tag' tag.slug %}">{{ tag.name }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
              <div class="widget sidebar-recent-post mb-5">
                <h5 class="widget-title text-uppercase">Latest Posts</h5>
                <div class="sidebar-post-item">
                  {% for one_post in latest_posts %}
                    <div class="d-flex flex-wrap align-items-center mb-3">
                      <div class="col-lg-6">
                        <div class="card-image pe-3 pb-2">
                          <a href="{% url 'single-blog' one_post.slug %}"><img src="{{ one_post.image.url }}" alt="{{ one_post.title }}" class="img-fluid" /></a>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="card-content">
                          <h4 class="card-title"><a href="{% url 'single-blog' one_post.slug %}">{{ one_post.title }}</a></h4>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </aside>

        <main class="col-md-9">
          <div class="filter-shop d-flex justify-content-between">
            <div class="showing-product">
              {% if category_count != 0 %}
                <p>Showing ({{ posts.start_index }} - {{ posts.end_index }}) of {{ posts.paginator.count }} results found in "{{ category }}"</p>
              {% else %}
                <h1 class="display-2 text-uppercase text-dark">No posts available in this category.</h1>
              {% endif %}
            </div>
          </div>
          <div class="row">
            {% if posts %}
              {% for post in posts %}
                <div class="col-lg-4">
                  <div class="card border-none">
                    <div class="card-image">
                      <a href="{% url 'single-blog' post.slug %}"><img src="{{ post.image.url }}" alt="" class="img-fluid" /></a>
                    </div>
                  </div>
                  <div class="card-body text-uppercase">
                    <div class="card-meta text-muted">
                      <span class="meta-date">{{ post.created_at|date:'b d, Y' }}</span>
                    </div>
                    <h3 class="card-title"><a href="{% url 'single-blog' post.slug %}">{{ post.title }}</a></h3>
                  </div>
                </div>
              {% endfor %}
            {% else %}

            {% endif %}
          </div>

          <!-- Pagination Controls -->
          <nav class="navigation paging-navigation text-center padding-medium" role="navigation">
            <div class="pagination loop-pagination d-flex justify-content-center align-items-center">
              {% if posts.has_previous %}
                <a href="?page={{ posts.previous_page_number }}">
                  <svg class="chevron-left pe-3">
                    <use xlink:href="#chevron-left"></use>
                  </svg>
                </a>
              {% endif %}

              {% for num in posts.paginator.page_range %}
                {% if posts.number == num %}
                  <span aria-current="page" class="page-numbers current pe-3">{{ num }}</span>
                {% else %}
                  <a class="page-numbers pe-3" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
              {% endfor %}

              {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">
                  <svg class="chevron-right ps-3">
                    <use xlink:href="#chevron-right"></use>
                  </svg>
                </a>
              {% endif %}
            </div>
          </nav>
        </main>
      </div>
    </div>
  </section>
{% endblock %}
