{% extends 'index.html' %}
{% block title %}
  Billing Information
{% endblock %}
{% block content %}
  <section class="hero-section position-relative bg-light-blue padding-medium">
    <div class="hero-content">
      <div class="container">
        <div class="row">
          <div class="text-center padding-large no-padding-bottom">
            <h1 class="display-2 text-uppercase text-dark">Billing Information</h1>
            <div class="breadcrumbs">
              <span class="item"><a href="{% url 'home' %}">Home ></a></span>
              <span class="item">Billing Information</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="billing-info padding-large">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex justify-content-between">
            <div class="card mb-4 flex-fill me-2">
              <div class="card-header bg-primary text-white">
                <h5 class="mb-0">Order Summary</h5>
              </div>
              <div class="card-body">
                {% for product in cart_products %}
                  <div class="order-item d-flex align-items-center mb-3">
                    <img src="{{ product.product_image.url }}" alt="{{ product.product_name }}" class="img-thumbnail me-3" style="width: 50px; height: 50px;" />
                    <div>
                      <strong>{{ product.product_name }}</strong>: Rs.{% if product.product_sale_price is not None %}
                        {{ product.product_sale_price }}
                      {% else %}
                        {{ product.product_price }}
                      {% endif %}
                      <br />
                      <small>
                        Quantity:{% for key, value in quantities.items %}
                          {% if key == product.id|slugify %}
                            {{ value }}
                          {% endif %}
                        {% endfor %}
                      </small>
                    </div>
                  </div>
                  <hr />
                {% endfor %}
                <strong>Total: Rs. {{ totals }}</strong>
                <br /><br />
                <a href="{% url 'cart-summary' %}" class="btn btn-dark btn-medium text-uppercase btn-rounded-none mt-4">Update Items</a>
              </div>
            </div>

            <div class="card mb-4 flex-fill ms-2">
              <div class="card-header bg-primary text-white">
                <h5 class="mb-0">Shipping Information</h5>
              </div>
              <div class="card-body">
                <table class="table">
                  <tbody>
                    <tr class="border-top border-bottom">
                      <th>Name</th>
                      <td>{{ shipping_info.shipping_full_name }}</td>
                    </tr>
                    <tr class="border-bottom">
                      <th>Email</th>
                      <td>{{ shipping_info.shipping_email }}</td>
                    </tr>
                    <tr class="border-bottom">
                      <th>Address 1</th>
                      <td>{{ shipping_info.shipping_address1 }}</td>
                    </tr>
                    <tr class="border-bottom">
                      <th>Address 2</th>
                      <td>{{ shipping_info.shipping_address2 }}</td>
                    </tr>
                    <tr class="border-bottom">
                      <th>City</th>
                      <td>{{ shipping_info.shipping_city }}</td>
                    </tr>
                    <tr class="border-bottom">
                      <th>State</th>
                      <td>{{ shipping_info.shipping_state }}</td>
                    </tr>
                    <tr class="border-bottom">
                      <th>Zipcode</th>
                      <td>{{ shipping_info.shipping_zipcode }}</td>
                    </tr>
                    <tr class="border-bottom">
                      <th>Country</th>
                      <td>{{ shipping_info.shipping_country }}</td>
                    </tr>
                  </tbody>
                </table>
                <div class="text-center">
                  <a href="{% url 'checkout' %}" class="btn btn-dark btn-medium text-uppercase btn-rounded-none mt-4">Update Shipping</a>
                </div>
              </div>
            </div>
          </div>

          <form action="https://rc-epay.esewa.com.np/api/epay/main/v2/form" method="POST">
            <input type="hidden" id="amount" name="amount" value="{{ esewa_totals_without_vat }}" required />
            <input type="hidden" id="tax_amount" name="tax_amount" value="{{ esewa_vat }}" required />
            <input type="hidden" id="total_amount" name="total_amount" value="{{ esewa_totals }}" required />
            <input type="hidden" id="transaction_uuid" name="transaction_uuid" value="{{ uid }}" required />
            <input type="hidden" id="product_code" name="product_code" value="EPAYTEST" required />
            <input type="hidden" id="product_service_charge" name="product_service_charge" value="0" required />
            <input type="hidden" id="product_delivery_charge" name="product_delivery_charge" value="0" required />
            <input type="hidden" id="success_url" name="success_url" value="{{ esewa_success_url }}" required />
            <input type="hidden" id="failure_url" name="failure_url" value="{{ esewa_failure_url }}" required />
            <input type="hidden" id="signed_field_names" name="signed_field_names" value="total_amount,transaction_uuid,product_code" required />
            <input type="hidden" id="signature" name="signature" value="{{ signature }}" required />
            <input value="Submit" type="submit" />
          </form>

          <div class="text-center mt-4">
            <button type="button" class="btn" style="background-color: #FFC439; color: #003087; border: none; padding: 10px 20px; font-size: 16px; text-transform: uppercase;" data-bs-toggle="modal" data-bs-target="#paypalModal">Pay with PayPal</button>
          </div>

          <!-- PayPal Modal -->
          <div class="modal fade" id="paypalModal" tabindex="-1" aria-labelledby="paypalModalLabel" aria-hidden="true ">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="paypalModalLabel">Proceed with PayPal Payment</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Would you like to proceed with the PayPal payment?</p>
                  <div class="d-flex justify-content-center">{{ paypal_form.render }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
