{% extends 'index.html' %}

{% block title %}
  Payment Success!
{% endblock %}

{% block content %}
  <div class="container mt-5 pt-5">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <!-- Payment Success Message -->
        <div class="payment-success">
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="green" class="bi bi-check-circle" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.93 10.97l5.586-5.586a.75.75 0 1 0-1.06-1.06L6.5 9.44 4.54 7.47a.75.75 0 0 0-1.08 1.04l2.5 2.5a.75.75 0 0 0 1.06 0z" />
          </svg>
          <h2 class="text-success mt-3">Payment Successful!</h2>
          <p class="text-muted">Thank you for your purchase. Here is a summary of your order.</p>
        </div>
        <hr class="my-4" />
      </div>
    </div>

    {% if payment_done and totals %}
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h5 class="mb-0">Order Summary</h5>
            </div>
            <div class="card-body">
              {% for product in cart_products %}
                <div class="order-item d-flex align-items-center mb-3">
                  <img src="{{ product.product_image.url }}" alt="{{ product.product_name }}" class="img-thumbnail me-3" style="width: 50px; height: 50px;" />
                  <div>
                    <strong>{{ product.product_name }}</strong>: Rs.{% if product.product_sale_price is not None %}
                      {{ product.product_sale_price }}
                    {% else %}
                      {{ product.product_price }}
                    {% endif %}
                    <br />
                    <small>
                      Quantity:{% for key, value in quantities.items %}
                        {% if key == product.id|slugify %}
                          {{ value }}
                        {% endif %}
                      {% endfor %}
                    </small>
                  </div>
                </div>
                <hr />
              {% endfor %}
              <strong>Total: Rs. {{ totals }}</strong>
              <br /><br />
              <a href="{% url 'user-dashboard' %}" class="btn btn-dark btn-medium text-uppercase btn-rounded-none mt-4">Go to Dashboard</a>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="row justify-content-center">
        <div class="col-md-6 text-center">
          <p class="text-muted">There is nothing here.</p>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
