{% extends 'index.html' %}

{% block title %}
  Shipping Dashboard
{% endblock %}

{% block content %}
  <section class="hero-section position-relative bg-light-blue padding-medium">
    <div class="hero-content">
      <div class="container">
        <div class="row">
          <div class="text-center padding-large no-padding-bottom">
            <h1 class="display-2 text-uppercase text-dark">Shipped Items</h1>
            <div class="breadcrumbs">
              <span class="item"><a href="{% url 'home' %}">Home ></a></span>
              <span class="item">Shipped Items</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row">
      <center>
        <div class="col-8">
          <br /><br />
          <h1>Shipped Items</h1>
          <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
              <tr>
                <th scope="col">Order Number</th>
                <th scope="col">Price</th>
                <th scope="col">Customer Email</th>
                <th scope="col">Date Ordered</th>
                <th scope="col">Date Shipped</th>
                <th scope="col">Shipping Status</th>
              </tr>
            </thead>
            <tbody>
              {% for order in orders %}
                <tr>
                  <td>
                    <a href="{% url 'orders' order.id %}">{{ order.id }}</a>
                  </td>
                  <td>{{ order.amount_paid }}</td>
                  <td>
                    {% if order.email %}
                      {{ order.email }}
                    {% else %}
                      -
                    {% endif %}
                  </td>
                  <td>{{ order.date_ordered }}</td>
                  <td>{{ order.date_shipped }}</td>
                  <td>
                    <form method="POST">
                      {% csrf_token %}
                      <input type="hidden" name="shipping_status" value="false" />
                      <input type="hidden" name="num" value="{{ order.id }}" />
                      <button type="submit" class="btn btn-dark btn-sm">Mark UnShipped</button>
                    </form>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </center>
    </div>
  </div>

  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
{% endblock %}
